{% extends "layouts/base.html" %}

{% block title %}Upload PDF{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card p-5">

        <h2 class="mb-3">

            <i class="fas fa-file-pdf text-danger"></i>

            Upload PDF

        </h2>

        <p class="text-secondary">

            Upload a suspicious PDF for static malware analysis.

        </p>

        <form method="POST"
              enctype="multipart/form-data">

            {{ form.hidden_tag() }}

            <div class="mb-4">

                {{ form.pdf(class="form-control") }}

            </div>

            <button
                class="btn btn-success btn-lg">

                <i class="fas fa-search"></i>

                Analyze PDF

            </button>

        </form>

    </div>

</div>

{% endblock %}